// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	margin-left: auto;
	margin-right: auto;
	clear: both;
	width: 480px;
}
.header {
	text-align: center;
}
.post {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	border-style: solid;
	border-width: 1px;

	border-top-style:none;
	border-right-style:none;
	border-bottom-style:solid;
	border-left-style:none;
	margin-bottom: 10px;
}
.bar {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin-bottom: 10px
}
h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
span {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: italic;
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	background-color: black;
	color: white;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 12px;
}